/* GLOBAL CSS VARIABLES */
:root {
	/* aka HTML color deepskyblue*/
	--theme_color_1: #00bfff;
	--theme_color_2: #fff;
	--theme_color_3: black;
	--theme_color_4: #eefaff;
	--theme_color_5: #eee;
	--theme_color_6: #ccc014;
	--theme_color_7: #b2a709;
	--theme_color_8: #ff1954;
	--theme_color_9: #FFFF00;
	--theme_color_10: rgb(192, 192, 192);
	--theme_font_1: 'Helvetica';
	/* prevents auto input-zoom on mobile
    http://blog.osmosys.asia/2017/01/05/prevent-ios-from-zooming-in-on-input-fields/*/
	--theme_font_size_base: 16px;
	--theme_font_size_1: .75rem;
	--theme_font_size_2: 1rem;

	--header_offset: 59px;
	--nav_offset: 0px;
	--footer_offset: 54px;

	/*z-index Variables*/
	--front: 1000;
	--middle: 500;
	--back: 0;

	/*Timing Variables*/
	--timing_now: 0ms;
	--timing_fastest: 250ms;
	--timing_fast: 500ms;
	--timing_slow: 750ms;
	--timing_slowest: 1000ms;

	/*Break points*/
	--layout_min_width: 370px;
	--layout_mobile_width: 480px;
	--layout_tablet_width: 768px;
	--layout_desktop_width: 1025px;
	--layout_widescreen_width: 1300px;
}

:focus {
	outline: var(--theme_color_6) auto 5px;
}

body {
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: var(--theme_color_2);
	font-family: var(--theme_font_1);
	flex-wrap: wrap;
	margin: 0 auto;
	box-sizing: border-box;
	align-items: center;
	font-size: var(--theme_font_size_base);
	min-width: var(--layout_min_width)
}

a, a:visited {
	text-decoration: none;
	color: var(--theme_color_3);
}

a:hover {
	text-decoration: underline;
}

header, nav, main, section, footer {
	box-sizing: border-box;
	display: flex;
}

p, div, fieldset, h1, h2, button, table, details, summary {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	box-sizing: border-box;
}

button, input,
  select {
    cursor: pointer;
    color: var(--theme_color_2);
    font-size: var(--theme_font_size_2);
    background-color: var(--theme_color_1);
    border: none;
    border-radius: 5px;
    min-height: 30px;
    outline: none;
    padding: 5px;
    height: 30px;
    border: 1px solid var(--theme_color_10);
    width: 40%;
    margin: 0;
  }

  button:focus, a:focus, input:focus {
	  outline:none;
  }

  button:disabled, select:disabled {
    cursor: not-allowed;
    background-color: var(--theme_color_4);
    color: var(--theme_color_6);
}


ul {
	list-style: none;
}

ul, ol {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	align-items: center;
	box-sizing: border-box;
}

li {
	box-sizing: border-box;
}

h1 {
    text-transform: uppercase;
    color: var(--theme_color_3);
    margin: 0;
}

h1, h2, h3, h4, p, div {
    margin: 0;
}

.hide {
    display: none;
}
section {
	margin: 0;
    padding: 10px;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    width: 100%;
	position: relative;
}

/* Viewport Breakpoints*/

/*Mobile Landscape*/
@media (min-width: var(--layout_mobile_width)) {

	section {
		max-width: 75vw;
	}

}

/*Tablet*/
@media (min-width: var(--layout_tablet_width)) {

	section.form {
		max-width: 50vw;
	}

}

/*Desktop*/
@media (min-width: var(--layout_desktop_width)) {
	:root {
		--header_offset: 113px;
		--nav_offset: 72px;
	}

}

/*Widescreen*/
@media (min-width: var(--layout_widescreen_width)) {

}