/* GLOBAL CSS VARIABLES */
:root {
  /* aka HTML color deepskyblue*/
  --theme_color_1: rgba(0, 191, 255, 1);
  --theme_color_2: rgba(255, 255, 255, 1);
  --theme_color_2b: rgba(255, 255, 255, 0);
  --theme_color_3: rgba(0, 0, 0, 1);
  --theme_color_3b: rgba(0, 0, 0, 0);
  --theme_color_4: rgba(238, 250, 255, 1);
  --theme_color_5: rgba(238, 238, 238, 1);
  --theme_color_6: rgba(204, 192, 20, 1);
  --theme_color_7: rgba(178, 167, 9, 1);
  --theme_color_8: rgba(255, 25, 84, 1);
  --theme_color_9: rgba(255, 255, 0, 1);
  --theme_color_10: rgba(192, 192, 192, 1);

  --theme_font_1: "Helvetica";
  /* prevents auto input-zoom on mobile
    http://blog.osmosys.asia/2017/01/05/prevent-ios-from-zooming-in-on-input-fields/*/
  --theme_font_size_base: 16px;
  --theme_font_size_1: 0.75rem;
  --theme_font_size_2: 1rem;
  --theme_font_size_3: 1.5rem;
  --theme_font_size_4: 2rem;

  --header_offset: 59px;
  --nav_offset: 0px;
  --footer_offset: 54px;

  /*z-index Variables*/
  --front: 1000;
  --middle: 500;
  --back: 250;
  --obscured: 0;

  /*Timing Variables*/
  --timing_now: 0ms;
  --timing_fastest: 250ms;
  --timing_fast: 500ms;
  --timing_slow: 750ms;
  --timing_slowest: 1000ms;

  /*Break points*/
  --layout_min_width: 370px;
  --layout_mobile_width: 480px;
  --layout_tablet_width: 768px;
  --layout_desktop_width: 1025px;
  --layout_widescreen_width: 1300px;
}

:focus {
  outline: var(--theme_color_6) auto 5px;
}

body {
  display: flex;
  z-index: var(--back);
  flex-direction: column;
  text-align: center;
  background-color: var(--theme_color_2);
  font-family: var(--theme_font_1);
  flex-wrap: wrap;
  margin: 0 auto;
  box-sizing: border-box;
  align-items: center;
  font-size: var(--theme_font_size_base);
  min-width: var(--layout_min_width);
}

a,
a:visited {
  text-decoration: none;
  color: var(--theme_color_3);
}

a:hover {
  text-decoration: underline;
}

header,
nav,
main,
section,
footer {
  box-sizing: border-box;
  display: flex;
}

p,
div,
fieldset,
h1,
h2,
button,
table,
details,
summary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

h1 {
  font-size: var(--theme_font_size_4);
}

h2 {
  font-size: var(--theme_font_size_3);
}

h3 {
  font-size: var(--theme_font_size_2);
}

button,
input,
select {
  cursor: pointer;
  color: var(--theme_color_2);
  font-size: var(--theme_font_size_2);
  background-color: var(--theme_color_1);
  border: none;
  border-radius: 5px;
  min-height: 30px;
  outline: none;
  padding: 5px;
  height: 30px;
  border: 1px solid var(--theme_color_10);
  width: 40%;
  margin: 0;
}

button:focus,
a:focus,
input:focus,
select:focus {
  outline: none;
}

button:disabled,
select:disabled {
  cursor: not-allowed;
  background-color: var(--theme_color_4);
  color: var(--theme_color_6);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

ul {
  list-style: none;
}

ul,
ol {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  align-items: center;
  box-sizing: border-box;
}

li {
  box-sizing: border-box;
}

h1 {
  text-transform: uppercase;
  color: var(--theme_color_3);
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
div {
  margin: 0;
}

.hide {
  display: none;
}
section {
  margin: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.motif-controls {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.motif-controls button,
.motif-controls input,
.motif-controls select {
  font-size: var(--theme_font_size_1);
  border: none;
  border-radius: 5px;
  min-height: 30px;
  height: 40px;
  border-style: none;
  padding: 4px 12px 6px;
  margin: 5px;
  max-width: 120px;
  display: flex;
  flex-direction: column;
  transition: background-color 0.5s ease;
  flex: 1 1 0;
}
.motif-controls button:disabled,
.motif-controls select:disabled,
.motif-controls input:disabled {
  cursor: not-allowed;
  background-color: var(--theme_color_4);
  color: var(--theme_color_6);
}

/* Viewport Breakpoints*/

/*Mobile Landscape*/
@media (min-width: var(--layout_mobile_width)) {
  section {
    max-width: 75vw;
  }
}

/*Tablet*/
@media (min-width: var(--layout_tablet_width)) {
  section.form {
    max-width: 50vw;
  }
}

/*Desktop*/
@media (min-width: var(--layout_desktop_width)) {
  :root {
    --header_offset: 83px;
    --nav_offset: 0px;
  }
}

/*Widescreen*/
@media (min-width: var(--layout_widescreen_width)) {
}
